	body {
			font-family: arial, sans-serif;
		}
	
		h1 {
			text-align: center;
		}

		table{
			width: 100%;
			padding: 20px;
			margin: 0 auto;
			
		}
			table td {
	
				font-size: 12px;
				vertical-align: top;
			}

			table td img {
				vertical-align: top;
			}